<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Servicio" %><br>
    <%= f.text_field :name %>
  </div>


  <div class="file-field input-field">
    <div class="waves-effect waves-light btn indigo">
      <span>Cargar Foto</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <%= f.text_field :image, :class=>"file-path validate" %>
    </div>
  </div>


  <div class="actions center">
    <%= f.submit "Actualizar", :class=>"btn-large indigo" %>
  </div>
<% end %>
