<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col s12 l12 center"><h5>Lista de Servicios</h5></div>
  <div class="col s6 l12 center"><%= link_to '+', new_service_path, :class=>"btn-floating btn-large waves-effect waves-light indigo" %></div>
</div>

<div class="row">
  <% @services.each do |service| %>
  <div class="col s12 m12 l3 center">
    <div class="card darken-1">
      <div class="card-content">
        <span class="card-title"><%= image_tag service.image, :class=> "circle" %></span>
        <h6><%= service.name %></h6>
      </div>
      <div class="card-action">
        <%= link_to 'Ver', service, :class=>"blue-text" %>
        <%= link_to 'Editar', edit_service_path(service), :class=>"blue-text" %>
        <%= link_to 'Eliminar', service, method: :delete, data: { confirm: '¿Estas seguro?' }, :class=>"blue-text" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
