<%= form_for(@gallery) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="file-field input-field">
    <div class="waves-effect waves-light btn indigo">
      <span>Cargar Foto</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <%= f.text_field :image, :class=>"file-path validate" %>
    </div>
  </div>

  <div class="field">
    <%= f.label "Descripción" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Empresa" %><br>
    <%= f.text_field :company_id %>
  </div>
  <div class="actions center">
    <%= f.submit "Actualizar", :class=>"btn-large indigo" %>
  </div>
<% end %>
