<p id="notice"><%= notice %></p>

<div class="row">
  <div class="center">
    <%= image_tag @gallery.image, :class=>"materialboxed", :width=>"500" %>
    <p>
      <strong>Obra:</strong>
      <%= @gallery.description %>
    </p>
  </div>
</div>
<div class="center">
  <%= link_to 'Editar', edit_gallery_path(@gallery), :class=>"btn indigo" %>
  <%= link_to 'Regresar', galleries_path, :class=>"btn indigo" %>
</div>
